<ul class="piano">
  <% 1.times do %>
    <li data-key-name="F" class="key white f">
      <span class="ml-[5px] text-black"><%= note_names.index('F') %></span>
    </li>
    <li data-key-name="F#" class="key black fs">
      <span class="ml-[5px] text-black"><%= note_names.index('F#') %></span>
    </li>
    <li data-key-name="G" class="key white g">
      <span class="ml-[5px] text-black"><%= note_names.index('G') %></span>
    </li>
    <li data-key-name="G#" class="key black gs">
      <span class="ml-[5px] text-black"><%= note_names.index('G#') %></span>
    </li>
    <li data-key-name="A" class="key white a">
      <span class="ml-[5px] text-black"><%= note_names.index('A') %></span>
    </li>
    <li data-key-name="A#" class="key black as">
      <span class="ml-[5px] text-black"><%= note_names.index('A#') %></span>
    </li>
    <li data-key-name="B" class="key white b">
      <span class="ml-[5px] text-black"><%= note_names.index('B') %></span>
    </li>
    <li data-key-name="C" class="key white c">
      <span class="ml-[5px] text-black"><%= note_names.index('C') %></span>
    </li>
    <li data-key-name="C#" class="key black cs">
      <span class="ml-[5px] text-black"><%= note_names.index('C#') %></span>
    </li>
    <li data-key-name="D" class="key white d">
      <span class="ml-[5px] text-black"><%= note_names.index('D') %></span>
    </li>
    <li data-key-name="D#" class="key black ds">
      <span class="ml-[5px] text-black"><%= note_names.index('D#') %></span>
    </li>
    <li data-key-name="E" class="key white e">
      <span class="ml-[5px] text-black"><%= note_names.index('E') %></span>
    </li>
  <% end %>
</ul>

