<div id="scale">
  <div data-controller="piano-scale-search">
    <div class="bg-slate-200 text-slate-500 w-full flex">
      <%= form_with(url: search_scales_path) do |form| %>
        <div class="flex">
          <h2 class="p-2 pl-4">SCALE TYPE:</h2>
          <%= form.select :scale_type,
            options_for_select(scale_types, scale_type),
            {},
            { class: 'focus:outline-none focus:ring-transparent bg-slate-200 border-none' } %>
          <h2 class="ml-4 p-2 pl-4">SEARCH BY:</h2>
          <%= select_tag :note_input_type,
            options_for_select([['Piano', 'piano']], 'piano'),
            { class: 'focus:outline-none focus:ring-transparent bg-slate-200 border-none' } %>
        </div>
        <%= form.text_field :query, hidden: true %>
      <% end %>
    </div>

    <div class="flex flex-wrap items-center justify-start mt-4 p-2 pb-6">
      <%= render "scales/piano_component",
        root_note: root_note,
        note_names: note_names  %>
    </div>

    <div class="bg-slate-200 text-slate-500 w-full flex">
      <h2 class="p-2 pl-4">RESULT</h2>
    </div>

    <div class="m-auto text-center max-w-4xl">

      <% if scale.present? %>
        <span class="text-6xl font-sans font-medium">
          <%= scale.name %>
          <br>
          <%= scale.notes.map &:pretty_name %>
        </span>
      <% end %>

      <% if error.present? %>
        <span class="text-2xl font-sans">
          <%= error %>
        </span>
      <% end %>

    </div>
  </div>
</div>
