<div id="scale">
  <div data-controller="piano-scale-search">
    <div class="bg-slate-200 text-slate-500 w-full flex">
      <%= form_with(url: search_scales_path) do |form| %>
        <div class="flex">
          <h2 class="p-2 pl-4">SCALE TYPE:</h2>
          <%= form.select :scale_type,
            options_for_select(scale_types, scale_type),
            {},
            { class: 'focus:outline-none focus:ring-transparent bg-slate-200 border-none' } %>
          <h2 class="ml-4 p-2 pl-4">SEARCH BY:</h2>
          <%= select_tag :note_input_type,
            options_for_select([['Piano', 'piano']], 'piano'),
            { class: 'focus:outline-none focus:ring-transparent bg-slate-200 border-none' } %>
        </div>
        <%= form.text_field :query, hidden: true %>
      <% end %>
    </div>

    <div class="flex flex-wrap items-center justify-start mt-4 p-2 pb-6">
      <%= render "shared/piano_component",
        root_note: root_note,
        controller_action: 'click->piano-scale-search#key',
        note_names: note_names  %>
    </div>

    <% if scale.present? %>
      <div class="mt-4 pb-6 flex items-stretch justify-start">
        <div class="mr-12">
          <div class="bg-slate-200 text-lg pl-4 font-sans font-thin">
            name
          </div>
          <div class="text-lg font-sans font-thin">
            <span class="text-6xl font-sans font-thin">
              <span class="mr-4"><%= scale.tone.name %></span><%= scale.name %>
            </span>
          </div>
        </div>
        <div>
          <div class="bg-slate-200 text-lg pl-4 font-sans font-thin">
            notes
          </div>
          <div class="text-lg font-sans font-thin flex">
            <% i = 1 %>
            <% scale.notes.each do |n| %>
              <div class="text-center">
                <span class="text-xl mr-8">
                  <%= i %>
                </span>
                <br />
                <span class="text-4xl mr-8">
                  <%= n.pretty_name %>
                </span>
              </div>
              <% i = i + 1 %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="mt-4 pb-6 flex items-stretch justify-start">
        <div>
          <div class="bg-slate-200 text-lg pl-4 font-sans font-thin">
            piano fingering
          </div>
          <div class="text-lg flex p-2 pt-4">
            <%= render "scales/piano_fingering_component",
              root_note: root_note,
              note_names: note_names  %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="bg-slate-200 text-slate-500 w-1/2 p-4">
        <h2 class="pb-2">HOW TO:</h2>
        <p>Select a Scale Type from the drop down and click on/tap a note to show the scale details and highlight the scale's notes above.</p>
      </div>
    <% end %>

    <% if error.present? %>
      <span class="text-2xl font-sans">
        <%= error %>
      </span>
    <% end %>
  </div>
</div>
