<div id="chord">
  <% if chord.present? %>
    <div class="mt-4 pb-6 flex items-stretch justify-start">
      <div class="mr-12">
        <div class="bg-slate-200 text-lg pl-4 font-sans font-thin">
          name
        </div>
        <div class="text-lg font-sans font-thin">
          <span class="text-6xl font-sans font-thin">
            <span class="mr-4"><%= chord.name %></span>
          </span>
        </div>
      </div>
      <div>
        <div class="bg-slate-200 text-lg pl-4 font-sans font-thin">
          notes
        </div>
        <div class="text-lg font-sans font-thin flex">
          <% i = 1 %>
          <% chord.notes.each do |n| %>
            <div class="text-center">
              <span class="text-xl mr-8">
                <%= i %>
              </span>
              <br />
              <span class="text-4xl mr-8">
                <%= n.pretty_name %>
              </span>
            </div>
            <% i = i + 1 %>
          <% end %>
        </div>
      </div>
    </div>
    <% unless defined?(hide_instrument) && hide_instrument == true %>
      <div class="mt-4 pb-6 flex items-stretch justify-start">
        <div>
          <div class="bg-slate-200 text-lg pl-4 font-sans font-thin">
            piano fingering
          </div>
          <div class="text-lg flex p-2 pt-4">
            <%= render "scales/piano_fingering_component",
              root_note: chord.root_note.name,
              note_names: chord.notes.map(&:name) %>
          </div>
        </div>
      </div>
    <% end %>
  <% elsif error.present? %>
    <div class="bg-slate-200 text-slate-500 w-1/2 p-4">
      <h2 class="pb-2">ERROR:</h2>
      <p><%= error %></p>
    </div>
  <% else %>
    <div class="bg-slate-200 text-slate-500 w-1/2 p-4">
      <h2 class="pb-2">HOW TO:</h2>
      <p>Select a Scale Type from the drop down and click on/tap a note to show the scale details and highlight the scale's notes above.</p>
    </div>
  <% end %>
</div>
