<ul data-action="<%= controller_action %>" class="piano">
  <li data-key-name="F3"
      class="key white f <%= 'selected' if root_note == 'F' %> <%= 'in-scale' if note_names&.include?('F') %>">
      <span>F</span>
  </li>
  <li data-key-name="Gb3"
      class="key black fs <%= 'selected' if root_note == 'F#' %> <%= 'in-scale' if note_names&.include?('F#') %>">
      <span>F#</span>
  </li>
  <li data-key-name="G3"
    class="key white g <%= 'selected' if root_note == 'G' %> <%= 'in-scale' if note_names&.include?('G') %>">
    <span>G</span>
  </li>
  <li data-key-name="Ab3"
    class="key black gs <%= 'selected' if root_note == 'G#' %> <%= 'in-scale' if note_names&.include?('G#') %>">
    <span>G#</span>
  </li>
  <li data-key-name="A3"
    class="key white a <%= 'selected' if root_note == 'A' %> <%= 'in-scale' if note_names&.include?('A') %>">
    <span>A</span>
  </li>
  <li data-key-name="Bb3"
    class="key black as <%= 'selected' if root_note == 'A#' %> <%= 'in-scale' if note_names&.include?('A#') %>">
    <span>A#</span>
  </li>
  <li data-key-name="B3"
    class="key white b <%= 'selected' if root_note == 'B' %> <%= 'in-scale' if note_names&.include?('B') %>">
    <span>B</span>
  </li>
  <li data-key-name="C4"
    class="key white c <%= 'selected' if root_note == 'C' %> <%= 'in-scale' if note_names&.include?('C') %>">
    <span>C</span>
  </li>
  <li data-key-name="Db4"
    class="key black cs <%= 'selected' if root_note == 'C#' %> <%= 'in-scale' if note_names&.include?('C#') %>">
    <span>C#</span>
  </li>
  <li data-key-name="D4"
    class="key white d <%= 'selected' if root_note == 'D' %> <%= 'in-scale' if note_names&.include?('D') %>">
    <span>D</span>
  </li>
  <li data-key-name="Eb4"
    class="key black ds <%= 'selected' if root_note == 'D#' %> <%= 'in-scale' if note_names&.include?('D#') %>">
    <span>D#</span>
  </li>
  <li data-key-name="E4"
    class="key white e <%= 'selected' if root_note == 'E' %> <%= 'in-scale' if note_names&.include?('E') %>">
    <span>E</span>
  </li>
  <li data-key-name="F4"
    class="key white f <%= 'selected' if root_note == 'F' %> <%= 'in-scale' if note_names&.include?('F') %>">
    <span>F</span>
  </li>
  <li data-key-name="Gb4"
    class="key black fs <%= 'selected' if root_note == 'F#' %> <%= 'in-scale' if note_names&.include?('F#') %>">
    <span>F#</span>
  </li>
  <li data-key-name="G4"
    class="key white g <%= 'selected' if root_note == 'G' %> <%= 'in-scale' if note_names&.include?('G') %>">
    <span>G</span>
  </li>
  <li data-key-name="Ab4"
    class="key black gs <%= 'selected' if root_note == 'G#' %> <%= 'in-scale' if note_names&.include?('G#') %>">
    <span>G#</span>
  </li>
  <li data-key-name="A4"
    class="key white a <%= 'selected' if root_note == 'A' %> <%= 'in-scale' if note_names&.include?('A') %>">
    <span>A</span>
  </li>
  <li data-key-name="Bb4"
    class="key black as <%= 'selected' if root_note == 'A#' %> <%= 'in-scale' if note_names&.include?('A#') %>">
    <span>A#</span>
  </li>
  <li data-key-name="B4"
    class="key white b <%= 'selected' if root_note == 'B' %> <%= 'in-scale' if note_names&.include?('B') %>">
    <span>B</span>
  </li>
  <li data-key-name="C5"
    class="key white c <%= 'selected' if root_note == 'C' %> <%= 'in-scale' if note_names&.include?('C') %>">
    <span>C</span>
  </li>
  <li data-key-name="Db5"
    class="key black cs <%= 'selected' if root_note == 'C#' %> <%= 'in-scale' if note_names&.include?('C#') %>">
    <span>C#</span>
  </li>
  <li data-key-name="D5"
    class="key white d <%= 'selected' if root_note == 'D' %> <%= 'in-scale' if note_names&.include?('D') %>">
    <span>D</span>
  </li>
  <li data-key-name="Eb5"
    class="key black ds <%= 'selected' if root_note == 'D#' %> <%= 'in-scale' if note_names&.include?('D#') %>">
    <span>D#</span>
  </li>
  <li data-key-name="E5"
    class="key white e <%= 'selected' if root_note == 'E' %> <%= 'in-scale' if note_names&.include?('E') %>">
    <span>E</span>
  </li>
</ul>
