<div class="m-auto text-left">
  <div class="max-w-5xl">
    <div class="max-w-3xl m-auto text-left">
      <div class="flex justify-center">
        <svg
          width="240px"
          height="190px"
          version="1.1"
          id="svg5"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:svg="http://www.w3.org/2000/svg">
          <defs
          id="defs2" />
          <g
              id="layer1">
          <path
              style="fill:#475569;fill-opacity:0.5;stroke-width:0.25058"
              d="m 112.977,169.70562 c -18.387169,-0.81362 -34.933733,-4.04803 -43.275358,-8.45915 -3.037886,-1.60647 -5.940646,-4.12631 -6.925027,-6.01151 -0.7319,-1.40167 -0.7319,-1.40167 -0.7319,-46.13617 0,-44.734492 0,-44.734492 0.7319,-46.136167 0.984381,-1.885211 3.887141,-4.405051 6.925027,-6.011509 10.555094,-5.581627 32.768118,-8.986937 55.578488,-8.520307 18.24505,0.37323 33.61665,2.72917 43.97397,6.739707 5.20884,2.016947 9.42124,5.044246 10.86481,7.808138 0.72372,1.385646 0.72372,1.385646 0.72372,46.120138 0,44.7345 0,44.7345 -0.77097,46.15841 -1.00579,1.8576 -3.88552,4.39509 -6.6835,5.88921 -7.34506,3.92224 -20.28935,6.81253 -36.33407,8.11288 -4.41132,0.35752 -19.68533,0.64067 -24.07709,0.44633 z m 23.9448,-7.551 c 10.09698,-0.8431 19.27079,-2.419 25.69066,-4.41318 3.78413,-1.17546 7.63264,-2.98038 9.11354,-4.27417 1.31142,-1.14573 1.31142,-1.14573 1.31142,-10.89418 0,-9.74843 0,-9.74843 -1.87877,-8.8998 -8.46516,3.82368 -22.80147,6.39164 -40.32227,7.22261 -22.74899,1.07892 -47.196338,-1.88747 -58.935937,-7.15118 -1.914976,-0.21939 -1.485129,19.01101 -0.739261,19.7669 2.413107,2.08624 8.555059,4.35869 16.283531,6.02471 7.237301,1.56014 14.162747,2.39803 25.267707,3.05705 3.34279,0.19838 20.24835,-0.10801 24.20938,-0.43876 z m -5.29167,-28.37941 c 12.58487,-0.66426 22.25405,-2.10103 30.36775,-4.51241 4.96714,-1.47623 8.15442,-2.8687 9.77684,-4.27135 1.2627,-1.09167 1.2627,-1.09167 1.2627,-10.86833 0,-9.77666 0,-9.77666 -1.87877,-8.92802 -8.45339,3.81837 -22.81288,6.39032 -40.32227,7.22219 -22.74071,1.08041 -47.195634,-1.88673 -58.935937,-7.15076 -2.05052,-0.9194 -2.05052,-0.9194 -2.05052,1.73443 4.359921,2.69131 0.0042,9.49448 0,14.24171 0,2.65711 0,2.65711 1.262705,3.74878 2.857315,2.47028 10.868257,5.08051 20.716279,6.75006 6.079804,1.03072 12.337393,1.66205 21.015803,2.12029 3.39191,0.17911 14.74291,0.12678 18.78542,-0.0865 z m -14.15521,-10.43732 c 0,-3.55978 0,-3.55978 3.96875,-3.55978 3.96875,0 14.55208,0 14.55208,3.55978 0,3.55977 -10.58333,3.55977 -14.55208,3.55977 -3.96875,0 -3.96875,0 -3.96875,-3.55977 z m 14.15521,-18.04087 c 12.58487,-0.66427 22.25405,-2.10103 30.36775,-4.51241 4.96714,-1.476229 8.15442,-2.868701 9.77684,-4.271353 1.2627,-1.09167 1.2627,-1.09167 1.2627,-10.867999 0,-9.776326 0,-9.776326 -2.09178,-8.832976 -4.18847,1.888907 -11.65352,3.870442 -19.20718,5.098368 -27.0696,4.400468 -63.864548,2.039738 -79.838017,-5.122317 -2.850433,-0.544051 -1.719297,18.781297 -0.787815,19.724924 2.857315,2.470275 10.868257,5.080513 20.716279,6.750063 6.079804,1.03072 12.337393,1.66205 21.015803,2.12029 3.39191,0.1791 14.74291,0.12678 18.78542,-0.0867 z m -0.26458,-28.47497 c 13.33915,-0.694501 24.75363,-2.449663 32.42019,-4.985119 4.91547,-1.625625 9.25168,-4.185622 9.25168,-5.461983 0,-0.896557 -2.41684,-2.699715 -5.34632,-3.988795 -7.30439,-3.214197 -18.05816,-5.36243 -32.48909,-6.490194 -5.12815,-0.400766 -22.77303,-0.399654 -27.78126,0.0018 -14.414196,1.155264 -25.927775,3.521385 -32.940619,6.769522 -2.464796,1.141622 -4.630208,2.878675 -4.630208,3.714274 0,0.893686 2.218771,2.610854 4.880753,3.777357 8.212467,3.598755 20.843913,5.834648 38.114034,6.74656 3.36393,0.177623 14.468,0.127636 18.52084,-0.08342 z"
              id="path57" />
          <path
              style="fill:#475569;fill-opacity:1;stroke:none;stroke-width:0.246999;stroke-opacity:0.497976"
              d="m 69.849683,135.44246 c -12.466654,-2.53113 -15.955445,-14.31671 -7.581045,-25.6099 6.847866,-9.23459 20.296628,-15.39882 30.748912,-14.09375 1.32326,0.1653 2.94888,0.46643 3.61251,0.66932 l 1.20656,0.3689 0.0209,-26.85362 c 0.0117,-14.769544 0.0104,-27.781074 -0.004,-28.914556 -0.0733,-6.105121 1.63632,-9.894168 5.44629,-12.070579 1.56574,-0.894449 1.96968,-1.009175 3.83667,-1.089629 1.58682,-0.06842 2.38823,0.02801 3.34551,0.402699 1.43868,0.563015 24.21773,15.24209 26.30941,16.954075 3.69337,3.022922 6.24823,7.004586 7.67719,11.964604 1.03586,3.59567 1.17193,5.563 1.1604,16.778486 l -0.0104,7.09232 -1.26079,-0.0053 c -2.62793,-0.01097 -3.608,-3.806773 -5.27358,-7.30535 -2.02558,-4.2548 -3.45484,-6.515157 -5.9698,-9.441164 -2.74046,-3.188368 -4.05902,-4.220741 -15.03392,-11.770815 -5.36368,-3.689915 -8.35702,-5.599359 -8.77787,-5.599359 -0.35124,0 -0.92878,0.288273 -1.28345,0.6406 l -0.6448,0.640581 -0.11496,32.077204 -0.11482,32.077153 -0.60993,1.92776 c -2.99019,9.45063 -13.30246,18.04027 -24.971928,20.80033 -2.997719,0.70902 -9.073816,0.89575 -11.712819,0.35995 z m 70.963647,-15.67113 c -0.8216,-0.20461 -2.23412,-0.79344 -3.13891,-1.30865 -5.83356,-3.3216 -6.25818,-10.69642 -0.99097,-17.21106 4.29789,-5.3158 10.38107,-8.65853 17.28824,-9.50003 2.23708,-0.27255 4.63941,-0.11209 6.88461,0.45992 l 0.62301,0.15877 0.0664,-21.46472 0.0665,-21.46476 0.52844,-1.327272 c 1.36995,-3.440933 4.60185,-5.420536 7.62642,-4.671288 1.43634,0.355803 18.72013,11.48493 20.41777,13.14711 2.19847,2.152541 3.83622,5.027699 4.77382,8.380795 0.34706,1.241214 0.42156,2.733149 0.49699,9.954705 l 0.0888,8.49466 -0.72405,-0.79638 c -0.84065,-0.924596 -3.24722,-5.037593 -4.46636,-7.63323 -1.20691,-2.56968 -3.40393,-5.60781 -5.34103,-7.385846 -2.19658,-2.016224 -14.57901,-10.597672 -15.29169,-10.597672 -0.3036,0 -0.75277,0.16942 -0.99811,0.376677 -0.43419,0.36662 -0.44919,0.998119 -0.56104,23.579808 l -0.11495,23.203083 -1.01113,2.35666 c -2.16925,5.05582 -7.34714,9.67135 -13.53693,12.06669 -3.98481,1.54205 -9.26418,2.03399 -12.68581,1.18209 z m 5.3649,-77.889944 c -3.0228,-0.745272 -4.79545,-3.211044 -4.33709,-6.033051 0.75822,-4.668292 6.70299,-9.145486 12.18169,-9.174439 0.88771,-0.0044 1.94604,0.07733 2.35187,0.182234 l 0.73784,0.190924 0.0666,-11.765342 c 0.0662,-11.733042 0.068,-11.768012 0.5923,-12.741957 0.69416,-1.289499 2.27695,-2.192527 3.50849,-2.001713 1.11149,0.172244 10.17222,5.982203 11.63285,7.459324 0.5602,0.566491 1.34875,1.761073 1.75237,2.654587 l 0.73382,1.62456 0.0778,4.905608 0.0778,4.905608 -0.50282,-0.525526 c -0.27655,-0.289056 -1.13635,-1.720108 -1.91066,-3.180134 -0.77427,-1.460028 -1.87644,-3.199315 -2.44924,-3.865112 -0.58978,-0.685541 -2.76835,-2.40528 -5.02355,-3.965548 -3.18399,-2.202844 -4.05862,-2.699331 -4.36375,-2.477153 -0.34415,0.250589 -0.39291,1.513091 -0.49653,12.858424 l -0.11495,12.580531 -0.6833,1.424993 c -1.33813,2.790622 -4.69732,5.517647 -8.04993,6.535011 -1.71844,0.521487 -4.51974,0.719252 -5.78146,0.408171 z"
              id="path1574" />
          </g>
        </svg>
      </div>
      <h3 class="p-2 pl-4 uppercase text-center text-2xl text-slate-900">Login to your account</h3>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="mt-4 text-slate-900">
          <div>
            <%= f.label :email, class: 'block' %>
            <%= f.email_field :email,
              autofocus: true,
              autocomplete: "email",
              required: true,
              class: 'w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-slate-900' %>
          </div>
          <div class="mt-4">
            <%= f.label :password, class: 'block' %>
            <%= f.password_field :password,
              autocomplete: "current-password",
              required: true,
              class: 'w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-slate-900' %>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="mt-4">
              <%= f.check_box :remember_me, class: 'appearance-none focus:ring-slate-900 checked:bg-slate-900' %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
          <div class="flex items-baseline justify-between">
            <%= f.submit "Log In", class: 'px-6 py-2 mt-4 text-white bg-slate-900 rounded-lg hover:bg-slate-900' %>
            <a href="#" class="text-sm text-slate-900 hover:underline">Forgot password?</a>
          </div>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
