<div class="max-w-3xl m-auto text-left mt-6 p-8 drac-bg-grey-alternative">
  <h3 class="p-2 pl-4 uppercase text-center text-xl drac-text-white">Login to your account</h3>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="mt-4 drac-text-white">
      <div>
        <%= f.label :email, class: 'drac-text-white uppercase' %>
        <%= f.email_field :email,
          autofocus: true,
          autocomplete: "email",
          required: true,
          class: 'drac-input drac-input-lg drac-input-white drac-text-white drac-m-xs' %>
      </div>
      <div class="mt-4">
        <%= f.label :password, class: 'drac-text-white uppercase' %>
        <%= f.password_field :password,
          autocomplete: "current-password",
          required: true,
          class: 'drac-input drac-input-lg drac-input-white drac-text-white drac-m-xs' %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="mt-4 drac-box text-right">
          <%= f.check_box :remember_me, class: 'drac-checkbox drac-checkbox-purple' %>
          <%= f.label :remember_me, class: 'drac-text-white uppercase' %>
        </div>
      <% end %>
      <div class="flex items-baseline justify-between">
        <%= f.submit "Log In", class: 'drac-btn drac-bg-pink-purple drac-m-sm drac-text-black' %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  <% end %>
</div>
