<!DOCTYPE html>
<html>
  <head>
    <title>Mtdb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind_styles", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-slate-100 subpixel-antialiased">
    <header class="py-2 bg-slate-200">
      <div class="container mx-auto">
        <nav class="flex items-center justify-between max-w-5xl">
          <h1 class="font-sans font-medium text-lg text-slate-600 leading-tight">MUSIC THEORY DB</h1>
          <div class="flex items-center">
            <div class="mx-4 text-center ml-24">
              <%= link_to home_index_path do %>
                <%= image_tag 'glyphicons-basic-21-home.svg', class: 'h-6 m-auto opacity-60' %>
              <% end %>
            </div>
            <div class="mx-4 text-center">
              <%= image_tag 'glyphicons-basic-422-book-library.svg', class: 'h-6 m-auto opacity-60' %>
            </div>
            <div class="mx-4 text-center">
              <%= image_tag 'glyphicons-basic-73-bookmark.svg', class: 'h-6 m-auto opacity-60' %>
            </div>
            <div class="mx-4 text-center">
              <%= link_to tools_index_path do %>
                <%= image_tag 'glyphicons-basic-5-settings.svg', class: 'h-6 m-auto opacity-60' %>
              <% end %>
            </div>
            <div class="mx-4 text-center">
              <%= image_tag 'glyphicons-basic-600-menu.svg', class: 'h-6 opacity-60' %>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <% if @breadcrumbs.present? %>
      <div class="container mx-auto">
        <div class="text-slate-500 py-2">
          <span>
            <%= @breadcrumbs.html_safe %>
          </span>
        </div>
      </div>
    <% end %>
    <main class="container mx-auto py-12">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
