<!DOCTYPE html>
<html>
  <head>
    <title>Mtdb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <link rel="stylesheet" href="/font-awesome.min.css" />
    <%= stylesheet_link_tag "tailwind_styles", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "https://unpkg.com/alpinejs", "data-turbo-track": "reload", defer: "defer" %>
  </head>

  <body class="bg-gray-800 subpixel-antialiased">
    <header class="sticky top-0 py-2 bg-slate-700">
      <div class="container mx-auto">
        <nav x-data="{ open: false }" class="flex items-center justify-between">
          <div class="text-gray-200 text-xl py-2">
            <span class="font-black">MTDB</span>
          </div>
          <div class="flex justify-between min-w-[50%]">
            <%= link_to home_index_path do %>
              <div class="mx-4 text-center ml-24">
                <i class="fa fa-home text-gray-200 text-2xl"></i>
              </div>
            <% end %>
            <%= link_to theory_index_path do %>
              <div class="mx-4 text-center">
                <i class="fa fa-music text-gray-200 text-2xl"></i>
              </div>
            <% end %>
            <%= link_to tools_index_path do %>
              <div class="mx-4 text-center">
                <i class="fa fa-wrench text-gray-200 text-2xl"></i>
              </div>
            <% end %>
            <div class="flex items-center relative">
              <button @click="open = !open"
                      class="mx-4 text-center"
                      type="button"
                      aria-expanded="false" aria-haspopup="true">
                <i class="fa fa-bars text-gray-200 text-2xl"></i>
              </button>
              <div class="origin-top-right absolute right-0 top-10 w-48 rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none z-10 bg-slate-800"
                    role="menu"
                    aria-orientation="vertical"
                    aria-labelledby="menu-button"
                    tabindex="-1"
                    style="display: none;"
                    @click.away="open = false"
                    x-show="open">
                <div class="pl-4 py-2" role="none">
                  <a href="#" class="text-gray-200 block px-4 py-4 text-lg uppercase" role="menuitem" tabindex="-1" id="menu-item-1">Help</a>
                  <a href="#" class="text-gray-200 block px-4 py-4 text-lg uppercase" role="menuitem" tabindex="-1" id="menu-item-2">About</a>

                  <% if user_signed_in? %>
                    <a href="#" class="text-gray-200 block px-4 py-4 text-lg uppercase" role="menuitem" tabindex="-1" id="menu-item-0">Settings</a>
                    <%= link_to 'Sign Out',
                      destroy_user_session_path,
                      id: 'menu-item-3',
                      class: 'text-gray-200 block px-4 py-4 text-lg uppercase',
                      role: 'menuitem',
                      tabindex: '-1',
                      data: { 'turbo-method': :delete } %>
                  <% else %>
                    <%= link_to 'Sign Up',
                      new_user_registration_path,
                      id: 'menu-item-4',
                      class: 'text-gray-200 block px-4 py-4 text-lg uppercase',
                      role: 'menuitem',
                      tabindex: '-1' %>

                    <%= link_to 'Log In',
                      new_user_session_path,
                      id: 'menu-item-4',
                      class: 'text-gray-200 block px-4 py-4 text-lg uppercase',
                      role: 'menuitem',
                      tabindex: '-1' %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <main class="container mx-auto py-8">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
