<!DOCTYPE html>
<html>
  <head>
    <title>Mtdb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind_styles", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-slate-100 subpixel-antialiased">
    <header class="py-2 bg-slate-200">
      <div class="container mx-auto">
        <nav class="flex items-center justify-between max-w-5xl">
          <h1 class="font-sans font-medium text-lg text-slate-600 leading-tight">MUSIC THEORY DB</h1>
          <%= image_tag 'glyphicons-basic-600-menu.svg', class: 'h-8 opacity-60' %>
        </nav>
      </div>
    </header>
    <% if @breadcrumbs.present? %>
      <div class="container mx-auto">
        <div class="text-slate-500 py-2">
          <span>
            <%= @breadcrumbs.html_safe %>
          </span>
        </div>
      </div>
    <% end %>
    <main class="container mx-auto py-12">
      <%= yield %>
    </main>
  </body>
</html>

