<!DOCTYPE html>
<html>
  <head>
    <title>Mtdb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind_styles", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-slate-400">
    <header class="px-16 py-4 items-center bg-slate-200">
      <nav class="flex items-end">
        <h1 class="font-sans font-medium ml-6 text-lg text-slate-800 leading-tight">MUSIC THEORY DB</h1>
      </nav>
    </header>
    <% if @breadcrumbs.present? %>
      <div class="bg-slate-700 text-slate-200 p-2 pl-16">
        <span class="ml-6">
          <%= @breadcrumbs.html_safe %>
        </span>
      </div>
    <% end %>
    <main class="container mx-auto px-6 py-12">
      <%= yield %>
    </main>
  </body>
</html>

